* {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	box-sizing: border-box;
}
.wrapper {
	background: linear-gradient(to left, #422263, #8748c5, #422263);
	width: 100%;
	height: 100vh;
}
.header {
	height: 100vh;
	background-image: url(../img/initials2.png),
		linear-gradient(
			to bottom,
			rgba(203, 203, 203, 1),
			rgba(255, 255, 255, 1),
			rgba(203, 203, 203, 1)
		);
	background-repeat: no-repeat;
	background-position: 50% 18%;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
	position: relative;
}
.logo-box {
	position: absolute;
	background-color: black;
	border: solid 0.2rem white;
	transition: 1s ease-out;
}
.logo-box:hover {
	transform: rotate(350deg);
	border: solid 0.4rem white;
}

.logo {
	padding: 1rem;
}

.text-box {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
}
.heading-primary {
	color: #000;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 2rem;
}

.heading-primary-main {
	display: inline-block;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1em;
	padding-left: 1.5rem;
	color: white;
	background-color: black;
	animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
	display: inline-block;
	color: black;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1em;
	padding-left: 1.5rem;
	animation: moveInRight 1s ease-out;
}
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.5rem 3.5rem;
	display: inline-block;
	border: .1rem solid rgb(65, 65, 65);
	transition: all .2s;
	position: relative;
}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.btn-white {
	background-color: #fff;
	color: rgb(65, 65, 65);
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}
.btn-white::after {
	background-color: rgb(255, 255, 255);
}
.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.btn-animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.social-media-icons {
	margin-top: 2.5rem;
	transition: all .2s;
	display: flex;

	justify-content: center;
	position: relative;
}

#git-hub {
	animation: moveInLogo 1s ease-out 1.5s;
	animation-fill-mode: backwards;
}

#othermidia {
	margin: 0 1.5rem;
	animation: moveInLogo 1s ease-out 1.75s;
	animation-fill-mode: backwards;
}

#instagram {
	animation: moveInLogo 1s ease-out 2s;
	animation-fill-mode: backwards;
}
@keyframes moveInLogo {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.social-icon-img {
	transition: 1s ease-out;
}

.social-icon-img:hover {
	transform: translateY(-3px) rotate(350deg);
}
.social-icon-img:active {
	transform: translateY(-1px);
}

@media (max-height: 630px) {
	.header {
		height: 100vh;
		background-image: linear-gradient(
				to bottom,
				rgba(189, 189, 189, 0.9),
				rgba(255, 255, 255, 0.9)
			),
			url(../img/initials2.png),
			linear-gradient(
				to bottom,
				rgba(203, 203, 203, 1),
				rgba(255, 255, 255, 1),
				rgba(203, 203, 203, 1)
			);
		background-repeat: no-repeat;
		background-position: 50% 18%;
		clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
		position: relative;
	}
	.text-box {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -60%);
		text-align: center;
	}
}
