* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLogo {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary-main {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1em;
    padding-left: 1.5rem;
    color: #fff;
    background-color: #000;
    animation: moveInLeft 1s ease-out; }
  .heading-primary-sub {
    display: inline-block;
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1em;
    padding-left: 1.5rem;
    animation: moveInRight 1s ease-out; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 3.5rem;
  display: inline-block;
  border: 0.1rem solid #515151;
  transition: all .2s;
  border-radius: 3px;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777;
  border-radius: 3px; }
  .btn-white::after {
    background-color: #fff; }

.btn-purple {
  background-color: #d1a3ff;
  color: #fff;
  border: #d1a3ff;
  border-radius: 3px; }
  .btn-purple::after {
    background-color: #d1a3ff; }
  .btn-purple:link, .btn-purple:visited {
    border-radius: 3px;
    overflow: hidden;
    border: #d1a3ff;
    padding: 0.5rem 2.8rem; }
  .btn-purple-form {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 3.5rem;
    display: inline-block;
    border-radius: 3px;
    transition: all .2s; }
    .btn-purple-form:hover {
      transform: translateY(-3px);
      border: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .btn-purple-form:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #8748c5, #422263); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #8748c5, #422263), url(../img/clean-air.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(66, 34, 99, 0.5);
    color: #fff;
    position: absolute;
    top: 15rem;
    right: 0;
    width: 100%; }
  .card__heading-span {
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(135, 72, 197, 0.85), rgba(66, 34, 99, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: #777; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }

.social-media-icons {
  margin-top: 2.5rem;
  transition: all .2s;
  display: flex;
  justify-content: center;
  position: relative; }
  .social-media-icons #git-hub {
    animation: moveInLogo 1s ease-out 1.5s;
    animation-fill-mode: backwards; }
  .social-media-icons #othermidia {
    margin: 0 1.5rem;
    animation: moveInLogo 1s ease-out 1.75s;
    animation-fill-mode: backwards; }
  .social-media-icons #instagram {
    animation: moveInLogo 1s ease-out 2s;
    animation-fill-mode: backwards; }
  .social-media-icons .social-icons-img {
    transition: 1s ease-out; }
  .social-media-icons .social-icons-img:hover {
    transform: translateY(-3px) rotate(350deg); }
  .social-media-icons .social-icons-img:active {
    transform: translateY(-1px); }

.about-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform .2s;
  cursor: pointer; }
  .about-box__icon {
    font-size: 5rem;
    margin-bottom: .2rem;
    background-image: linear-gradient(to right, #8748c5, #422263);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
  .about-box h3 {
    display: block;
    position: relative;
    padding-bottom: .7rem; }
    .about-box h3:after {
      content: '';
      display: block;
      margin: auto;
      height: .3rem;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
  .about-box:hover {
    transform: translateY(-1.5rem); }
    .about-box:hover h3:after {
      width: 100%;
      width: 100%;
      background: #d1a3ff; }

svg {
  width: 200%;
  position: absolute;
  top: 0;
  left: -40%;
  margin: auto; }

#Layer_1 rect {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: 8s outline forwards; }

#Layer_1 path {
  transform: scale(0.5);
  transform-origin: 43% 30%;
  opacity: 0;
  animation: 5s logo forwards; }

#Layer_2 path {
  opacity: 0;
  animation-delay: 8s;
  animation: 5s logo forwards; }

@keyframes outline {
  from {
    stroke-dashoffset: 300; }
  to {
    stroke-dashoffset: 0; } }

@keyframes logo {
  from {
    transform: scale(0.5);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

.header {
  height: 95vh;
  background-image: url(../img/initials2.png), linear-gradient(to bottom, #cbcbcb, white, #cbcbcb);
  background-repeat: no-repeat;
  background-position: 50% 18%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0% 85%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    background-color: #000;
    border: solid 0.2rem #fff;
    transition: 1s ease-out; }
    .header__logo-box:hover {
      transform: rotate(350deg);
      border: solid 0.4rem #fff; }
  .header__logo {
    padding: 1rem; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center; }

@media (max-height: 700px) {
  .header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/initials2.png), linear-gradient(to bottom, #cbcbcb, white, #cbcbcb);
    background-repeat: no-repeat;
    background-position: 50% 18%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative; }
  __text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center; } }

.section-about {
  margin-top: -15vh;
  padding-top: 25rem 0;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to left, rgba(66, 34, 99, 0.8), rgba(135, 72, 197, 0.8), rgba(66, 34, 99, 0.8)), url(../img/code.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover; }
  .section-about__transparent {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3rem;
    width: 100%;
    margin: 20rem 0 15rem 0; }
    .section-about__transparent h2 {
      text-align: center;
      font-size: 4rem;
      color: #d1a3ff;
      font-weight: 300;
      letter-spacing: 1rem;
      animation: moveInRight 2s ease-out; }

.about {
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #cbcbcb;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.7rem; }
  .about__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    background-color: #422263;
    overflow: hidden; }
  .about h3 {
    display: inline-block;
    position: relative; }
  .about h3:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  .about:hover h3:after {
    width: 100%;
    background: #d1a3ff; }
  .about__image {
    height: 100%;
    transform: translate(2rem, 2rem) scale(1.6);
    backface-visibility: hidden;
    opacity: 0.7;
    transition: all .5s; }
  .about__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .about:hover .about__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .about:hover .about__image {
    transform: translate(2rem, 2rem) scale(1.5);
    opacity: .7;
    filter: brightness(80%) grayscale(30%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 6rem*2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem*2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - 6rem*3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem*3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem*3) / 4) + 2 * 6rem); }

.section-project {
  margin-top: -12vh;
  clip-path: polygon(0 7%, 50% 0%, 100% 7%, 100% 100%, 0 100%);
  background-image: linear-gradient(to bottom, #cbcbcb, white, #cbcbcb);
  padding: 25rem 0 10rem 0; }
  .section-project--wrapper {
    padding: 4rem 0;
    background-color: rgba(255, 255, 255, 0.2); }
  .section-project-header {
    display: block;
    text-align: center; }
    .section-project-header span {
      text-align: center;
      background-color: #cbcbcb;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0 0 0 3rem; }

.section-contacts {
  padding: 15rem 0;
  background-image: linear-gradient(130deg, #8748c5, #422263); }

.contact {
  background-image: linear-gradient(105deg, black 0%, black 40%, white 40%), url(../img/nat-10.jpg);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 55rem;
  width: 75%;
  margin: 0 auto;
  position: relative; }
  .contact h2 {
    letter-spacing: 1rem; }
  .contact__form {
    width: 50%;
    padding: 6rem;
    margin-left: auto; }
  .contact__info {
    position: absolute;
    color: #fff;
    height: 60%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); }
    .contact__info--svg-container {
      position: relative;
      width: 100%;
      height: 75%; }
    .contact__info ul {
      list-style-type: none; }
  .contact h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    background-color: #000;
    padding: 1.5rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -70%); }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 2rem; }

.u-margin-top-big {
  margin-top: 4rem; }

.u-text-center {
  margin: 0 auto; }

.u-center {
  text-align: center; }
