$color-white: #fff;
$color-black: #000;
$color-light-grey: #cbcbcb;
$color-grey: #777;
$color-purple: #422263;
$color-light-purple: #8748c5;
$color-pink: #d1a3ff;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
