.footer {
	background-color: $color-black;
	color: $color-light-grey;
	height: 15rem;
	padding: 2rem;
	@include respond(tab-port) {
		height: 100%;
	}
	&__content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@include respond(tab-port) {
			flex-direction: column-reverse;

			align-content: space-between;
		}

		&-menu {
			list-style: none;
			@include respond(tab-port) {
				display: none;
			}

			li {
				text-transform: uppercase;
			}
		}
	}
	img {
		padding: .5rem;
		margin: 2rem;
		border: 3px solid $color-white;
	}
	a:link,
	a:visited {
		text-decoration: none;

		color: $color-light-grey;
	}
	a:hover,
	a:active {
		color: $color-pink;
	}

	p {
		span.purple {
			color: $color-pink;
		}
		@include respond(tab-port) {
			text-align: center;
		}
	}
}
