.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.5rem 3.6rem;
		display: inline-block;
		border: .1rem solid darken($color-grey, 15%);
		transition: all .2s;
		border-radius: 3px;
		position: relative;

		cursor: pointer;
	}
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
	&:active,
	&:focus {
		outline: none;

		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($color-black, .2);
	}
	&-white {
		background-color: $color-white;
		color: $color-grey;
		border-radius: 3px;

		&::after {
			background-color: $color-white;
		}
	}
	&-purple,
	&-purple:link,
	&-purple:visited {
		background-color: $color-pink;
		color: $color-white;
		border: none;
		padding: 0.5rem 3.2rem;
		border-radius: 3px;
		transition: all .2s;
		&:hover {
			transform: translateY(-3px);
			border: none;
			box-shadow: 0 1rem 2rem rgba($color-black, .2);
			&::after {
				background-color: $color-pink;
			}
		}
		&:active,
		&:focus {
			border: none;
			transform: translateY(-1px);
			box-shadow: 0 .5rem 10rem rgba($color-black, .2);
		}

		&-form {
			text-transform: uppercase;
			text-decoration: none;
			padding: 0.5rem 3.5rem;
			display: inline-block;
			border-radius: 3px;
			transition: all .2s;
			&:hover {
				transform: translateY(-3px);
				border: none;
				box-shadow: 0 1rem 2rem rgba($color-black, .2);
				&::after {
					background-color: $color-pink;
				}
			}
			&:active,
			&:focus {
				transform: translateY(-1px);
				box-shadow: 0 .5rem 10rem rgba($color-black, .2);
			}
		}
	}
	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&-animated {
		animation-fill-mode: backwards;
		opacity: 0;
		transition: opacity 1s 1s ease-out, animation;

		&.is-visible {
			opacity: 1;
			animation: moveInBottom .5s ease-out .75s;
			animation-fill-mode: backwards;
		}
	}
	&-description {
		&,
		&:link,
		&:visited {
			padding-left: 5.6rem;
			padding-right: 5.6rem;
		}
	}
}
