svg {
	width: 200%;
	position: absolute;
	top: 0;
	left: -40%;

	margin: auto;

	@include respond(tab-port) {
		width: 80%;
		top: -30%;
		left: 0;
	}
	@include respond(phone) {
		width: 100%;
	}
}

#Layer_1 rect {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;

	opacity: 0;
	transition: opacity 1s 1s ease-out, animation;

	&.is-visible {
		opacity: 1;
		animation: 8s outline forwards;
	}
}

#Layer_1 path {
	transform: scale(.5);
	transform-origin: 43% 30%;
	opacity: 0;

	transition: opacity .5s .5s ease-out, animation;

	&.is-visible {
		opacity: 1;
		animation: 5s logo forwards;
	}
}

#Layer_2 path {
	opacity: 0;
	animation-delay: 8s;
	transition: opacity .5s .5s ease-out, animation;

	&.is-visible {
		opacity: 1;
		animation: 5s logo forwards;
	}
}

@keyframes outline {
	from {
		stroke-dashoffset: 300;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes logo {
	from {
		transform: scale(.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
