.section-project {
	// clip-path: polygon(0 15%, 50% 15%, 100% 15%, 100% 100%, 0 100%);
	background-image: linear-gradient(
		to bottom,
		rgba($color-light-grey, 1),
		rgba($color-white, 1),
		rgba($color-light-grey, 1)
	);

	padding: 25rem 0 10rem 0;

	@include respond(tab-port) {
		padding: 10rem 0 10rem 0;
	}
	&--wrapper {
		padding: 4rem 0;
		background-color: rgba($color-white, .2);
	}
	&-header {
		display: block;
		text-align: center;
		opacity: 0;
		transition: all .5s .4s ease-in-out;
		will-change: opacity;
		span {
			text-align: center;
			background-color: $color-light-grey;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
			padding: 0 0 0 3rem;
		}
		&.is-visible {
			opacity: 1;
		}
	}
}

.section-contacts {
	padding: 15rem 0;
	background-image: linear-gradient(130deg, rgba($color-light-purple, 1), rgba($color-purple, 1));
}

.contact {
	background-image: linear-gradient(
		105deg,
		rgba($color-black, 1) 0%,
		rgba($color-black, 1) 40%,
		rgba($color-white, 1) 40%
	);

	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
	height: 55rem;
	width: 75%;
	margin: 0 auto;
	position: relative;

	@include respond(tab-port) {
		background-image: linear-gradient(
			180deg,
			rgba($color-black, 1) 0%,
			rgba($color-black, 1) 18%,
			rgba($color-white, 1) 18%
		);
	}

	h2 {
		letter-spacing: 1rem;
		@include respond(tab-port) {
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
	}
	&__form {
		width: 50%;
		padding: 6rem;
		margin-left: auto;
		@include respond(tab-port) {
			width: 100%;
			padding: 2rem;
			margin: auto;
			padding-top: 10rem;
		}

		input#name,
		input#email {
			@include respond(tab-port) {
				width: 100%;
			}
		}
	}
	&__info {
		position: absolute;
		color: $color-white;
		height: 60%;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
		@include respond(tab-land) {
			left: 5%;
		}
		@include respond(tab-port) {
			color: $color-grey;
			height: 0%;
			width: 100%;
			top: 3%;
			left: 4%;
			transform: translateY(0);
			font-size: 1.5rem;
		}

		@include respond(phone) {
			font-size: 1rem;
		}

		#phone {
			a {
				color: $color-grey;

				&:link,
				&:visited,
				&:active,
				&:any-link,
				&:-webkit-any-link {
					color: $color-grey;
				}
			}
			color: $color-grey;
		}

		&--svg-container {
			position: relative;
			width: 100%;
			height: 75%;

			@include respond(tab-port) {
				height: 40%;
				width: 30%;
				margin-left: auto;
			}

			@include respond(phone) {
				height: 0%;
				width: 30%;
				margin-left: auto;
			}
		}
		& ul {
			list-style-type: none;
		}
	}
	h3 {
		font-size: 2rem;
		font-weight: 300;
		color: $color-white;
		background-color: $color-black;
		padding: 1.5rem;
		position: absolute;
		text-align: center;
		top: 50%;
		left: 70%;
		transform: translate(-50%, -70%);

		@include respond(tab-port) {
			padding: 3.5rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
